[2016-02-03 15:03] gustavklopp opened #1 "Adapting to Python 3"
trying to run Server.py:

[code]

[2016-02-03 15:30] gustavklopp commented on #1
Ok, it's a problem with Python 3. I don't know where is the problem (I've refactored the code thanks to 2to3)...

[2016-03-27 08:32] source83 opened #2 "Documentation / comments in the code"
Could you add some comments in the library files to document that's happening and what the variables represent ?
The __init__ definition in Server.py, does the "listeners=5" statement mean it will not take more than 5 clients connected at a time ?
I'm using your library (very happily) in a multi player server for JanusVR and it seems it works very well so far, but I do hope you could add some info

[2016-04-01 07:17] chr15m commented on #2
Hello! Better commenting is a good idea, thanks for your feedback.

I haven't touched this code for several years and it's unlikely I will get time to do that but I will certainly merge a pull request that includes better documentation.

I believe `listeners=5` means it will take more than 5 clients but it will only have 5 listeners spawned listening for new connections.

Thanks!

[2016-04-01 07:37] source83 commented on #2
Okay, so it'll take as many connections as I allow with my code ?
I've heavily modified the library, so I don't think you want my changes in your git repo.
For one, I've changed the main key from "action" to "method" for it to mesh with the application that connects with it (JanusVR)
I've actually managed to mostly get every thing working as needed, just trying to figure out how to deal with SSL s

[2016-04-01 07:44] chr15m commented on #2
Great! I'm glad it has been helpful. Thanks. :+1:

[2016-04-01 10:01] #2 closed

[2016-04-24 14:06] decemer commented on #1
same need

[2017-01-09 20:27] danobi opened #4 "[RFC] port codebase to python3"
I came across this library a while ago while musing about my new game's architecture. I'd like to use this library, but not in its current state. Therefore, I have put in some considerable effort to revitalize the code base to use python3. However, it came to my attention that `asyncore` (and consequently `asynchat`) are being deprecated [1].

The recommended upgrade path is to use `asyncio`. Unfo

[2017-01-09 20:28] danobi commented on #4
@chr15m

[2017-01-09 20:30] danobi commented on #4
Important to note, if it's not already clear. I'm volunteering to do all the work. I've thought about it a lot, and the work has already begun.

I'm ok if you don't want to upstream my changes, but I thought I'd give it a shot anyways.

[2017-01-10 06:15] chr15m commented on #4
Hi @danobi your work sounds very cool!

In terms of Python 3 my preference would be for the fixes required on #1 to be made without changing the architecture fundamentally and while maintaining backwards compatibility with 2.7.

What advantage do you see in porting to asyncio over the current implementation?

[2017-01-10 23:01] danobi commented on #4
Hi @chr15m,

I see what you're saying, and I agree that compatibility is good. However, `asyncore` is halfway out the door already [1] [2]. This means we'll experience breaking changes in python >= 3.5 regardless of what we do (short of maintaining our own `asyncore` module). The question is just when. Furthermore, python2.7 is being deprecated in a few years.

I've spent time looking for a more n

[2017-01-12 01:13] chr15m commented on #4
@danobi thanks for investigating this and taking the time to write this up, I really appreciate it.

I wonder what the chances are that somebody will port it to 3 as a module?

In any case, it sounds like you understand the dimensions of this very well and have thought about it thoroughly. Happy to review & merge whatever you come up with given the pros & cons you listed. Thanks!

[2017-01-12 01:14] chr15m commented on #4
@danobi there might also be stuff in the python3 branch that you can use: https://github.com/chr15m/PodSixNet/tree/python3

[2017-01-14 01:53] selfsame commented on #4
@danobi happy to review & merge a switch to asyncio for the python3 branch, I've fixed it up for python 3.5.2 recently

[2017-01-14 01:56] selfsame commented on #1
Sorry for the delay, the python3 branch has been updated, along with the examples https://github.com/chr15m/PodSixNet/tree/python3

[2017-01-14 01:56] #1 closed

[2017-01-14 02:20] chr15m commented on #4
Cool, thanks @selfsame!

[2017-06-12 18:00] tdoylend opened #6 "Wrap async_chat instead of inheriting?"
Currently, Channel inherits from async_chat. This means it gets the really wonky async_chat.__getattr__ method, which causes [problems like this.](https://groups.google.com/forum/#!topic/podsixnet/KjGcjpSd1Lo)

I propose that instead of inheriting, we make Channel (and also EndPoint, by extension) a wrapper around async_chat. That way, error messages can be more helpful and PodSixNet can move clos

[2017-06-14 06:09] chr15m commented on #6
Excellent, sounds great, thanks @tdoylend! This could help the Python 3 port as well. Let me know when there is a PR to review.

[2017-08-25 15:48] harsh-98 opened #8 "How to change the default port and ip for connection?"
I making using PodSixNet for client-server scripting in my [game](https://github.com/h4r5h-ja1n/Minecraft-Strike). I have done some changes in the code for making it use different ip and port for the client. #7

[2017-10-10 12:04] Berserker66 commented on #4
Any news on this? I remember PodSixNet from years ago and considered using it for a new project, but looking at the commit history and issues this project seems dead, which is a bit unfortunate.

[2017-10-10 13:45] selfsame commented on #4
@Berserker66 the python3 branch should be fully functional.  Not sure about the depreciation schedule for asyncore but I'd imagine it'll stick around for quite a few years.

[2017-10-10 17:13] Berserker66 commented on #4
Well, "should be" turns out to not be.

I downloaded the python 3 package, updated the included rencode, had my ide convert all the tabs to spaces and tried to get the unittest running, which by default it did not because the proper way to do it is:

[code]

as opposed to

[code]

as you can see here: https://docs.python.org/3/library/unittest.html#basic-example

This apparently confused my IDE to

[2017-10-10 19:58] Berserker66 commented on #4
Apparently you'd rather believe I can't check out the correct branch, than to look into it yourself. So here's me looking into it for you as a video:
https://i.imgur.com/uiftJb3.gif
It's broke.

[2017-10-10 23:12] selfsame commented on #4
@Berserker66 fair enough. I don't think I've ever ran the unit tests, if you can get them to pass I'd be happy to merge a PR.

The `examples` all seem to working fine `3.6.2` but I guess that doesn't make use of all of PodSixNet

[2017-11-10 14:56] jirislav opened #9 "Pip packaging"
Are you considering maintaning an pip package? It would allow the others to easily add this awesome project as a dependency to their projects.

[2017-11-11 12:00] chr15m commented on #9
Good idea. Let me know if this works ok for you: https://pypi.python.org/pypi/PodSixNet/0.8

[2017-11-11 12:26] jirislav commented on #9
Yup, that works flawlessly!

Now you can update your Installation part in README to this easier method:

# Installation

[code]

or

[code]

both should be portable to windows & mac

[2017-11-11 12:44] #9 closed

[2018-01-03 20:38] pauliyobo opened #12 "how can I solve this error when installing podsixnet?"
Hi. I've tried different times to install podsixnet with pip but the error that i get is:

Using cached PodSixNet-0.9.tar.gz
    Complete output from command python setup.py egg_info:
    fatal: Not a git repository (or any of the parent directories): .git
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "C:\Users\user\AppData\Local\Temp\pip-build-_t947s

[2018-01-30 07:41] #12 closed

[2018-01-30 08:24] chr15m commented on #12
@pauliyobo this should be fixed now. Can you test it and let me know?

[2018-01-30 17:51] pauliyobo commented on #12
I still have that error

2018-01-30 9:24 GMT+01:00, Chris McCormick <notifications@github.com>:

[2018-02-05 06:44] hjpotter92 commented on #12
The same is happening when I try to install the package using either `pip` or `easy_install`. There is no difference when I use either python 2.7 or 3.6 @chr15m

## Python 2.7 traceback:
[code]

## Python 3.6 traceback

[code]

The `easy_install` had a slightly longer stacktrace:

[code]

[2018-02-08 01:35] hjpotter92 opened #13 "Command '['git', 'describe', '--tag', '--always']' returned non-zero exit status 128."
It is happening when I try to install the package using either `pip` or `easy_install`. There is no difference when I use either python 2.7 or 3.6

## Python 2.7 traceback:
[code]

## Python 3.6 traceback

[code]

The `easy_install` had a slightly longer stacktrace:

[code]

[2018-02-22 08:43] #13 closed

[2018-02-22 08:44] chr15m commented on #13
@hjpotter92 thank you very much for testing. I have released version `0.9.4` which should hopefully fix this issue. Please let me know if it works for you.

[2018-02-22 08:45] chr15m commented on #12
@pauliyobo @hjpotter92 this should be fixed now in `0.9.4`.

[2018-02-22 11:31] hjpotter92 commented on #13
@chr15m Python 3 does not have `execfile`. Also; when installing from `pip`, it does not download the git history. It just fetches the tarball. You can't expect `git descibe --tag --always` to be executed, as there is no git repository available on client machine.

[code]

[2018-02-22 23:07] chr15m commented on #13
I changed the setup script so it does not require git or the git history.

I haven't supported Python 3 so far in this library. There is a branch in this repository where some of that is happening slowly but I do not know the status. Maybe I will get time to look at it one day, but in the meantime patches to make the library work in Python 3 are welcome.

Thanks for testing. :+1:

[2018-03-16 16:14] Brunfunstudios opened #14 "Quick Start Guide connection.Connect() wrong"
Hey just started using this and noticed that `connection.Connect()` should be `connection.DoConnect()` in the quickstart guide.

Thanks for making this.

[2018-03-20 06:05] chr15m commented on #8
Hi @harsh-98 it is already possible to do this as per the documentation:

[2018-03-20 06:05] #8 closed

[2018-03-20 06:08] chr15m commented on #14
@Brunfunstudios I don't think that's correct. The `Connect()` method calls `DoConnect()` internally and also runs the pump once.

[2018-03-20 06:08] #14 closed

[2018-05-16 16:50] BohdanBorkivskyi opened #16 "PyPi PodSixNet package for python 3"
Could you please add this version to PyPi, for example with the package name PodSixNet3, so that it can be easily installed via pip ?

[2018-05-17 12:40] BohdanBorkivskyi commented on #16
@chr15m yes, branch ```python3```. Well, I made a few simple games using PodSixNet3 and they worked good

[2018-09-02 14:59] salamohamad opened #17 "Disconnecting From Server when wifi is down due to screen lock or sleep."
First, I just want to say big thanks for this aiming piece of art. truly helpful and useful.
I have a made a game using Pythonista for iOS and the game works perfectly but whenever I put the phone to sleep, the connection gets lost with the Server because most iPhones drop wifi while they are asleep. is there a way to have that connection hang until I am back online next time or there is no way ar

[2018-09-02 15:54] salamohamad commented on #17
I found the solution! thank you

[2018-09-02 15:54] #17 closed

[2018-09-02 22:43] chr15m commented on #17
@salamohamad great! What was the solution?

[2018-09-03 09:47] salamohamad commented on #17
if the player has just started the app, they will be given a unique identifier and put together with another player to play. if the connection drops from either players we set a boolean to True and whenever the wifi comes back on we connect them again to the server and send the server a message to put this new channel in the the same game it was before  rather than putting it in a new game and we

[2018-09-03 10:42] chr15m commented on #17
@salamohamad thanks. Good to have your solution here in case somebody faces the same issue in future. :+1:

[2018-09-12 11:47] chr15m commented on #16
@BohdanBorkivskyi version 0.10.0 is up now and it should work on both Python 2 & 3.

[2018-09-12 11:47] #16 closed

[2018-09-12 11:47] chr15m commented on #6
@tdoylend feel free to re-open this if you submit such a PR. Thanks!

[2018-09-12 11:47] #6 closed

[2018-09-12 11:48] chr15m commented on #4
@Berserker66 @selfsame @danobi I've merged the python3 branch. If you run into any bugs feel free to file them.

[2018-09-12 11:48] #4 closed

[2018-09-12 11:52] chr15m opened #18 "Unit tests do not run correctly due to wrong code layout"
As noted by @Berserker66 here:

https://github.com/chr15m/PodSixNet/issues/4#issuecomment-335544251

[2018-09-20 15:54] CydNoxzed opened #19 "async leads to invalid syntax with python 3.7.0"
Due to the [changes in python 3.7](https://docs.python.org/3/whatsnew/3.7.html) *async* is now a keyword.

This results in the following Error:
[code]

After the cloning, I moved the *PodSixNet/PodSixNet* directory to *PodSixNet/example/PodSixNet*. With python 2.7 and 3.4 the ChatServer.py runs as expected. But not with 3.7.

Renaming async.py and the imports in Channel.py and Server.py to the non

[2018-09-20 23:40] chr15m commented on #19
@CydNoxzed thanks for reporting this & figuring it a fix. Will verify today!

[2018-09-21 13:32] #18 closed

[2018-09-21 13:38] chr15m commented on #19
@CydNoxzed I couldn't get python 3.7 installed on my machine but I reproduced the issue using Travis CI (which is set up on this repository now). Will fix, thanks.

[2018-09-21 13:51] chr15m commented on #19
@CydNoxzed could you let me know if it's fixed for you on the branch `fix-async`?

[2018-09-21 14:05] CydNoxzed commented on #19
@chr15m thanks for the fast reply!

The issue seems to be fixed in the branch fix-async:

`$ python3.7 ChatServer.py localhost:12345
Server launched`

Are you going to push the new PodSixNet version to pypi, after the merge into master?

Thanks again!

[2018-09-21 14:15] chr15m commented on #19
Yep I'll merge & release when I'm next at laptop.

I'm surprised it worked as I got errors from Travis regarding asyncore being deprecated in favour of asyncio. That was in 3.7-dev so maybe they un-deprecated it? Or do you have asyncore installed as a module?

[2018-09-21 14:21] CydNoxzed commented on #19
Asyncore seems to be a build-in library: https://docs.python.org/3.7/library/asyncore.html
But it's still marked a deprecated.

[2018-09-22 02:03] chr15m commented on #19
@CydNoxzed before I merge this I wanted to check whether you are see this errors on the `fix-async` branch?

`AttributeError: 'dispatcher' object has no attribute 'setblocking'`

These are showing up in the Travis build when tested against `3.7-dev`. Maybe they are fixed in `3.7`.

Can you run the unit tests with `python3.7 PodSixNet/test.py` and let me know if you run into this?

https://travis-c

[2018-09-22 06:01] CydNoxzed commented on #19
I installed PodSixNet now with pip3.7 in a virtualenv. If I run test.py the result is the following:

[code]

It seems to me that in test.py line 151 it creates an dispatcher object which is going to be used in line 154 to init the EndPointChannel object and from this down to `asyncore.dispatcher` which expect a socket in the given parameter. Could this be the cause?

[2018-09-22 10:37] chr15m commented on #19
@CydNoxzed I'm trying to see if this will fix it on line 10 of `Channel.py`:

`asynchat.async_chat.__init__(self, getattr(conn, "socket", conn), map)`

But I have to get 3.7 working first.

[2018-09-22 11:11] chr15m commented on #19
Managed to reproduce the bug on python 3.6 and the fix works. Will merge it and publish. Thanks for reporting, suggesting a fix & testing @CydNoxzed! :+1:

[2018-09-22 11:13] #19 closed

[2018-09-22 14:30] DexYang opened #22 "I try to pass on Bytes data，and get Error"
I try to pass on JPEG Bytes data

and I get this Error

{'action': 'error', 'error': UnicodeDecodeError('utf-8', b'\xff\xd8\xff\xc0\x00\x11\x08\x00\xf.....', 0, 1, 'invalid start byte')}

what should I do

[2018-09-23 00:26] chr15m commented on #22
Hello, can you please send a minimal example with the code and image which causes the error?

[2018-09-23 03:25] ROTARTSI82 opened #23 "Replacement for Serializable"
I realized in the new 0.10.0 update PodSixNet.rencode.serializable was removed. I am wondering if there is a replacement because all of my code breaks on 0.10.0 so I'm sticking to the old version.

[2018-09-23 03:29] DeluxeYang commented on #22
Client Code：
`
from PodSixNet.Connection import connection
from PodSixNet.Connection import ConnectionListener

class ResourceClient(ConnectionListener):
    def __new__(cls, host, port):
        if not hasattr(cls, '_instance'):
            cls._instance = super().__new__(cls)
        return cls._instance

    def __init__(self, host, port):
        self.Connect((host, port))

    def get_map_uni

[2018-09-23 04:30] chr15m commented on #23
@ROTARTSI82 if you can provide a simple example of the way you are using the old `serializable()` call then I'll see if I can hack support back in and add unit tests for that.

[2018-09-24 00:00] ROTARTSI82 commented on #23
I'm using it to send instances of pygame.sprite.Sprite over a connection.

[2018-09-24 00:05] ROTARTSI82 commented on #23
I'm using `serializable` to send instances of pygame sprites over a connection. I think I can just send the arguments for `__init__()` and `__name__` over the network instead.

[2018-09-24 00:10] ROTARTSI82 commented on #23
I also found this version of PodSixNet for python3.4 that supports serializable:

[](https://github.com/tborisova/pod-six-net-python3.4)

[2018-09-24 02:01] chr15m commented on #23
@ROTARTSI82 yes this looks like the py3k version which @selfsame made on the python3 branch in this repository.

Did you test it, and does it actually support serializable? When I was merging the python3 branch I found that the unit tests for the serializable part did not actually pass, which was part of the reason why I deprecated it.

Another reason was I had trouble getting a version to work wh

[2018-09-24 16:40] selfsame commented on #23
Ah sorry back when I ported rencode.py I never got the class serialization tests to pass

https://github.com/chr15m/PodSixNet/blob/python3/PodSixNet/rencode.py#L584

fix would involve rolling back to that version and figuring out what wasn't working

Incidentally, did we depreciate podsixnet for python 2?

[2018-09-25 01:58] chr15m commented on #23
@selfsame all good, thanks for contributing the python 3 code, it was super useful.

PodSixNet still works on python 2. I managed to reconcile the two branches and they even interoperate (python 2 clients on python 3 server and visa versa).

I think the way forward is to see if there is a simpler implementation for the class serialization code which will work for both python 2 and python 3 and is

[2018-09-25 02:00] chr15m commented on #23
In the short term I should probably throw a deprecation exception if the `serializable()` call is made by client code with a note we're trying to get it working again and workarounds.

[2018-09-25 13:20] DeluxeYang commented on #22
Hi, I don't actually understand your code, could you tell me is it repairable?

[2018-09-25 23:13] chr15m commented on #22
Yes I think it's repairable. I just need to find time to make a fix (or somebody else can fix it faster).

[2018-12-31 17:48] nonoesimposible opened #24 "setup.py can't find PodSixNet/version.py"
How to reproduce: clone the repository and run setup.py

When I tried to run `setup.py` (Python 3.7 if it matters) I got this:

[code]

It appears that version.py doesn't exist. I worked around this by just typing in the version to `setup()`:

[code]

I don't know what happened to version.py, perhaps it was removed by accident or something.

**Edit:** version.py is inside of `.gitignore`, is this

[2018-12-31 17:58] nonoesimposible commented on #24
Hmm, perhaps it could be as simple as this?
https://github.com/nonoesimposible/PodSixNet/commit/ecc20489928629cf12e7e833d4c5e330d5f3a58a

[2019-01-07 06:39] chr15m commented on #24
@nonoesimpossible thx I will l check yr PR & get this fixed.

[2019-01-07 11:48] chr15m commented on #24
@nonoesimposible can you let me know if the fix I just pushed works? You should be able to clone the repository and run setup.py now and it will use the git tag as the canonical version number.

[2019-01-07 23:18] nonoesimposible commented on #24
Thank you very much, now setup.py works with Python 2 but fails with Python 3:

[code]

I'm not really sure what's going on here, maybe all that needs to be done is convert the output to a string first?

[code]

[2019-01-07 23:36] chr15m commented on #24
@nonoesimposible which version of python 3 are you using? I tested in 3 and it seemed to work. Maybe I should just pin the version file as you suggested.

[2019-01-08 00:36] nonoesimposible commented on #24
Python 3.7.2

I'm running it with `sudo python setup.py install`.

I'm not sure what the difference would be, in [the check_output documentation](https://docs.python.org/3/library/subprocess.html#subprocess.check_output) it just says this:

[code]

[2019-01-08 03:14] chr15m commented on #24
@nonoesimposible will fix.

[2019-01-24 20:07] GoodClover opened #25 "connection.Connect() won't work"
I am new to PodSixNet so if I'm just using it wrong sorry.
(I'm following the Quick Start guide)

When I do connection.connect("127.0.0.1") i get this Error:
`Traceback (most recent call last):
  File "C:\Users\olive\Documents\Python\Pygame Zero\Online Test\client.py", line 21, in <module>
    connection.connect("127.0.0.1")
  File "C:\Users\olive\AppData\Local\Programs\Python\Python37-32\lib\asyn

[2019-01-25 02:13] chr15m commented on #25
Hello @GoodClover.

Thanks for posting your issue.

 * How did you install PodSixNet?
 * Do the scripts in the `examples` folder run for you?
 * Can you supply the source code of the file `C:\Users\olive\Documents\Python\Pygame Zero\Online Test\client.py`?

[2019-01-25 06:45] chr15m commented on #22
If I comment out these two lines:

https://github.com/chr15m/PodSixNet/blob/409586d3991599940c3e97e22c0b7c01439ddb3b/PodSixNet/rencode.py#L195-L196

Then your example works and the tests pass. I'm inclined to remove the utf8 conversion stuff although I'm unsure the wider impact, especially in situations where different versions of Python are used on the client and server. Will think about this som

[2019-01-25 15:48] chr15m commented on #24
Nope that's all good if it works for you we don't need to do anything else.

[2019-02-09 20:16] GoodClover commented on #25
Sorry, I thought I'd replied to this apparently I never hit "send"

- I used pip3
- Here's the code:
  Server: [https://pastebin.com/qYg1YjrU](url)
  Client: [https://pastebin.com/JrBSfaTV](url)
- The examples work, yes.

[2019-02-11 13:37] McSinyx opened #26 "[Discussion] lower_case names for methods (PEP 8)?"
I am aware that this is quite up to personal preference, but many modules I have used followed [that naming convention](https://www.python.org/dev/peps/pep-0008/#prescriptive-naming-conventions), which IMHO makes code more recognizable, i.e. one can easily distinguish between module/class/method/function. [threading](https://docs.python.org/3/library/threading.html) has went smoothly through this

[2019-02-12 02:16] chr15m commented on #26
@McSinyx probably a good idea. Will merge a PR that implements this change with the aliasing you suggest.

[2019-02-12 02:50] nonoesimposible commented on #26
Would this be a good newcomer bug? I'm interested in helping.

[2019-02-12 02:52] chr15m commented on #26
@nonoesimposible indeed! The criteria for success are:

 * Callbacks and methods are available via `lower_case` style names.
 * The tests pass.

[2019-02-12 02:53] chr15m commented on #25
@GoodClover thank you for the update. I will try to debug this soon.

[2019-02-13 01:44] nonoesimposible commented on #26
So here is something interesting. In Channel.py (will eventually be called channel.py), the send method (previously Send) looks like this:

[code]

This actually ends up recursively calling send() until my computer runs out of memory. Since the aysnchat.async_chat already has a send() method, I think Channel.send is overriding it and messing things up. Previously, this wasn't happening because Pyt

[2019-02-13 03:41] chr15m commented on #26
@nonoesimposible thanks for making progress on this. Yes using `.Send()` to avoid overriding `.send()` was not a great hack. I'm not sure what the best solution to fix this is. Some different options:

 * Stop subclassing asynchat and instead compose it in under a new class property.
 * Monkey-patch the class and rename `.send` to something else before overriding it (may cause other errors but tes

[2019-02-13 05:40] nonoesimposible commented on #26
Hmm, it looks like this is not the only thing that interferes with asyncore's variable names. Some possible instances are:

* `EndPoint.close()` calls itself recursively
* `Channel.handle_connect()` has trouble because `connected` is now a variable instead of a method of EndPoint (perhaps this could be easily taken care of by replacing the name `connected` with something more specific)

Should we

[2019-02-13 08:10] chr15m commented on #26
A solution that tackles them all sounds pretty good if you can work one out.

[2019-03-06 17:43] GoodClover commented on #25
Not to be rude, but just bumping this.

[2019-03-06 18:54] GoodClover commented on #25
Figured it out: `connection.Connect(("localhost",45454))` should be `connectionListener.Connect(("localhost",45454))`.
But now I get this: `client.py
Username: Goo
You: Banna
Traceback (most recent call last):
  File "C:\Users\olive\Documents\Python\Pygame Zero\Online Test\client.py", line 29, in <module>
    connection.send({"userName":userName, "message":msg})
  File "C:\Users\olive\AppData\Loca

[2019-03-06 19:02] GoodClover commented on #25
Fixed that too, needs a capital S on Send or it calls a different thing,
your quickstart guide is **SERIOUSLY** flawed and needs re-doing.

[2019-03-06 19:02] #25 closed

[2019-03-06 20:50] nonoesimposible commented on #25
Part of it isn't the quickstart guide but the actual naming conventions itself. As mentioned in #26, there's a lot of problems that happen with namespace clashing.

[2019-03-06 22:15] chr15m commented on #25
@GoodClover I'm glad you got your bug fixed before I was able to look at it.

Thanks for your feedback about the README. Can you let me know a list of problems you see with the documentation so that I can improve it to help people in the future.

[2019-04-30 15:14] erikbuck opened #27 "Please add if __name__ == "__main__":"
I love PodSixNet and use it to teach inroductory network programming at a University. The ChatSever and ChatClient example is nearly perfect for my purposes. I have students subclass ChatSever and ChatClient, and the fact that code for creating ChatServer and ChatClient instances executes unconditionally in the example code causes problems.

Please place `if __name__ == "__main__":` around code th

[2019-05-01 02:11] chr15m commented on #27
@erikbuck this seems like a worthwhile change, thank you. Do you know how to make this modification and issue a PR? If you do so I will merge the change after testing. Thanks again.

[2019-05-23 17:13] jrknight opened #28 "Change port server listens on"
Is it possible to change the port the server listens on in the serverside code?

[2019-05-24 01:41] chr15m commented on #28
Yes, you [pass the bind address and port to the server instance](https://github.com/chr15m/PodSixNet/blob/d18f260/examples/ChatServer.py#L71) when you call it (example linked):

[code]

[2019-06-25 21:10] pauliyobo commented on #26
You could try by storing the async_chat's instance into a class property instead of inheriting from it. That way send should not conflict with the parent class.

[2019-06-25 21:12] pauliyobo commented on #27
I could issue the PR if the issue hasn't been solved yet.

[2019-06-25 21:24] pauliyobo commented on #23
wouldn't using pickle solve the issue?

[2019-06-25 22:52] #28 closed

[2019-06-26 03:01] chr15m commented on #27
Fixed in #29.

[2019-06-26 03:01] #27 closed

[2019-06-26 03:03] chr15m commented on #23
@pauliyobo no, the problem here is not the serialization method but the absence of an old interface after some refactoring.

In any case, `pickle` is not a great way to serialize objects over the network as it suffers a number of limitations outlined in the documentation, including a security issue.

[2019-06-26 03:04] chr15m commented on #22
A possible better fix for this is to switch to msgpack encoding. It seems like a more robust version of rencode. https://pypi.org/project/msgpack/

[2019-06-26 03:14] pauliyobo commented on #23
Ah i understand

[2019-06-26 09:43] pauliyobo commented on #26
sorry if I sound spammy.
Is someone currently working on this issue?

[2019-06-26 12:31] nonoesimposible commented on #26
To be honest, I did get stuck a while back with the namespace thing but your recent activity has reminded me of this issue and I'd be happy to give it another try. =)

This is my fault for not communicating well/being honest; if you want to take a shot at fixing this, go ahead.

[2019-06-26 12:43] pauliyobo commented on #26
alright. I'll be starting this in a new branch and see what I can come up with.

[2019-06-26 14:33] pauliyobo commented on #26
hi there. The API has changed in the following ways
channel.py, connection.py, endpoint.py and server.py are now all lowercase
The methods  of those classes have been modified to be lowercase with underscores while class names have remained the same.
I have some questions.
1. @McSinyx when you say that aliases should be introduced to support backward compatibility, what do you mean?
2. Should I ch

[2019-06-26 17:06] nonoesimposible commented on #26
Suppose someone has used PodSixNet in their game and they wrote the following code:

[code]

Now that code won't work any more because `Send()` has been renamed to `send()`. If you make a new method `Send` in that is equal to `send`, people's code won't be instantly broken anymore; that's what backwards compatibility means.

---

Yes, that seems to make sense. Make sure that both `Network_` and `n

[2019-06-26 19:55] pauliyobo commented on #26
@nonoesimposible hmm, to make it backward compatible I could think either of making a fake class which uses the old naming convention but would actually redirect to the new functions. So whenever we want to get done with it we can just delete the fake class.
As for the examples, I've tested the chatclient and the lagtimeclient, but i can not test the whiteboard client because I'm actually blind th

[2019-06-26 23:26] chr15m commented on #26
@pauliyobo great stuff. You can also run the unit tests to see if everything is working like this: `python PodSixNet/test.py`.

When you submit a PR the tests will automatically be run under a few versions of Python, including Python 2 and the result will show up on GitHub.

[2019-06-27 07:45] pauliyobo commented on #26
OK, so onething.
Everything seem to work properly, except the fact that test.py gives me one failure. I assume it has been like this because even with the old version I receive the same output.
In addition, on window git fill actually fail to rename filenames across branches. In the branch I'm working on I hace lowercase names while in master I have uppercase filenames. If I switch branches the fi

[2019-06-27 16:43] pauliyobo commented on #22
in alternative, if you fear that the change might have an impact on python 2 users, you could mak a check which will execute that code if the version is not python3.

[2019-07-01 22:21] pauliyobo commented on #26
Hi there.
Do the latest changes work on your end?

[2019-07-03 12:28] chr15m commented on #26
Hello. Sorry, I have not had a chance to look a this yet.

[2019-07-13 21:57] Amerikranian opened #31 "Inability to see disconnections"
I am unable to see whether someone's connection is dead.
Consider this:
I create a server.
Bob logs in to my server.
Bob kills his game with task manager.
Bob's player is still on the server.
Could you please either
1: Tell me if the library has something to see if a player disconnected or
2: Add in such a feature?
I know a way to get around this -- ping the clients at regular intervals, but that

[2019-07-14 00:14] chr15m commented on #31
Yes the server runs the `Close` method on the channel when the client disconnects. You can see this in the examples:

https://github.com/chr15m/PodSixNet/blob/master/examples/ChatServer.py#L18

Which calls the `DelPlayer` method on the server. You can put your code in there to handle what should happen when a player disconnects.

[2019-07-14 00:14] #31 closed

[2019-07-14 00:16] chr15m commented on #31
Note that this will happen when the socket disconnects and under certain conditions the socket may appear from the server perspective to still be alive (the case you mention of a task manager kill may be such a condition). In that situation your proposal to use a heart-beat to see if the connection is alive makes sense. Heartbeats typically have timeouts on the order of 30 seconds to 5 minutes, de

[2019-07-15 19:57] pauliyobo opened #32 "supporting transmission of data through the UDP protocol"
Hello there.
Currently PodSixNet supports the transmission of data through the TCP protocol.
Could we allow it to support UDP with a parameter in the server instance? such as:
s = server(protocol=UDP)
I'd be more than happy to work on this issue, but I'd first like to know what you all think.

[2019-07-16 13:00] chr15m commented on #32
Hello, yes, UDP could be a good addition and may be useful for lower latency use-cases.

[2019-07-16 13:23] pauliyobo commented on #32
So am I free to work on this issue, or does someone else wants to give a try?

[2019-09-14 21:08] Amerikranian opened #33 "Required callbacks?"
I have used a packet sniffer and to my shock, the packets are perfectly unprotected and are out there just waiting to be misused. Can you please add an ability to have a callback for both incoming and outgoing data for encryption purposes?

[2019-09-15 04:43] chr15m commented on #33
Sure, will merge a PR implementing this.

[2019-09-15 04:56] chr15m commented on #33
By which I mean, if you write it I will merge it.

[2019-12-26 17:42] EkremDincel opened #34 "bytes in dict don't works correctly"
I am running ``rencode.py`` and I am getting those output in shell:

[code]
Same for bytes as values. I am using python3.8.0

[2019-12-27 01:57] chr15m commented on #34
@EkremDincel yes the encoder is unable to distinguish between strings and bytes. At some point it would be good to replace it with something which can encode/decode arbitrary Python structures.

[2019-12-27 13:09] EkremDincel commented on #34
Last version of [rencode](https://pypi.org/project/rencode/) works well with bytes.

[2019-12-27 13:32] chr15m commented on #34
Great. If somebody submits a PR implementing this and the tests pass, I'll merge it.

[2020-01-11 08:28] pauliyobo commented on #34
@chr15m  The last rencode version has been made with cython. This means that unlike the version we have now, we can't include the pyx file and utilize it directly.
We should either include the built extension in the package if we want to keep rencode as part of the PodSixNet package, or we should keep it externally.
What's the approach that you'd prefer?

[2020-01-20 01:09] chr15m commented on #34
@pauliyobo maybe it makes sense to put it in requirements.txt and have it as an external dependency now. I guess that's pretty standard.

[2020-03-03 00:28] NicklasTegner commented on #33
Hi
Isn't this already a thing with the server.Network(data) and client.Network(data) functions. Wouldn't you be able to use them to encrypt / decrypt the packets.

[2020-03-03 00:30] NicklasTegner commented on #26
Hi
What is the status of this issue and the associated pull request

[2020-03-04 00:36] chr15m commented on #26
@pauliyobo does this have backwards compatibility with people's existing code? What I mean is if somebody is using PodSixNet in their own project and they upgrade, will this upgrade break their code? I think we discussed having aliases to the old function names to avoid the break, did this get implemented?

[2020-03-04 10:56] pauliyobo commented on #26
@chr15m as of now, yes.
I've started to implement some aliases.
Currently, I've aliased the modules in __init__.py importing all of the PodSixNet modules and for example doing:

[code]

In the classes I'm aliasing methods in the following way:

[code]

While this would work when methods are called, when the user has to define the methods in the respective classes everything would mess up because i

[2020-03-04 13:19] McSinyx commented on #26
Could you please elaborate (by an example)?

[2020-03-05 12:55] chr15m commented on #26
@McSinyx I think what @pauliyobo means is when the user has to override the [virtual] method with their own supplied method, it won't worry properly because the call will be to the new one.

@pauliyobo wrote:

Yeah, that sounds like it could work.

The other alternative would be to simply do a release with deprecation warnings everywhere and then make this changed version the 2.0 version.

[2020-03-05 13:01] NicklasTegner commented on #26
I'm in favor of making it a version 2.0, simply because, there's also other parts of the code that could use some cleanup / rewriting.

[2020-03-05 13:41] pauliyobo commented on #26
@McSinyx  Currently the aliases  I've implemented are simply class attributes that reference the current implementation
Which means that in channel.py the alias Pump when called will just call pump.
I know it's a bit confusing. Let's see if I can illustrate this with an example

[code]

As you can see greet is an alias to hi. It just holds the reference to the method hi which means that calling

[

[2020-03-05 13:43] pauliyobo commented on #26
@chr15m Personally I'd just release 2.0.
People can use the older version to maintain their codebase, and they can surely upgrade should they want new features when they are added.
To make things easier we could even write a guide on how to upgrade, even though it's literally just renaming some calls and imports.

[2020-03-06 15:01] NicklasTegner commented on #26
In addition, if we were to go with releasing a version 2.0, that would also give us the ability to drop Python 2 support (since python 2 has reached it's EOL) and switch from asynchat/asyncore (which has been deprecated in 3.6) to asyncio.

[2020-03-19 06:01] chr15m commented on #26
Ok, what I think we should do is make all of these changes you guys have suggested, including:

 * Merging @pauliyobo's method renaming patch.
 * Using `rencode` external library.
 * Dropping Python 2 support.
 * Porting to asyncio.
 * Updating string handling code.

Then release it under a new name on pypi, such as `PodSixNet2`. This will mean that old codebases don't break, but people who want t

[2020-03-19 06:11] NicklasTegner commented on #26
I would like the name PodSixNet2, since an import statement would look like this

from podsixnet2 import *

On that note, can we please have the actual imported package be all lowercase.

[2020-03-19 08:10] nonoesimposible commented on #26
What was the etymology behind the name "PodSixNet?" Perhaps we could come up with something clever but entirely different in order to make the difference between the two versions obvious.

[2020-03-19 09:01] chr15m commented on #26
I had a one person game company called PodSix Games a long time ago:

https://web.archive.org/web/20120629091658/http://podsix.com.au/pod/Games

It was named after this Sealab 2021 episode wherein the phrase "PodSix was jerks!" was uttered by the captain:

https://youtu.be/zo9hqmkEfEY?t=524

[2020-03-19 22:19] pauliyobo commented on #26
I'm fine with either PodSixNetNG or PodSixNet2

[2020-03-20 04:20] nonoesimposible commented on #26
`podsixnet2` (all lowercase) would be my preference because by retaining the same string of characters, the new version will be easy for existing users to discover and will give them the impression that it is still the same library, just with major improvements.

Another alternative would be `podsixnet1` because programmers count from 0.

[2020-03-22 05:31] chr15m commented on #26
Ha ha ha.

Ok, can anyone get together a PR that updates the package name, tests, etc.? I'll ship it to pypi and then we can merge @pauliyobo's patch. :rocket:

[2020-03-22 17:30] nonoesimposible commented on #26
So `podsixnet2` is the final package name? And just to clarify, the new version should be on PyPI before we do other plans for the next version such as porting to `asyncio`?

[2020-03-22 17:41] NicklasTegner commented on #26
I really think that @pauliyobo  should just update the package name and then @chr15m  can merge that as version 2.0, change the package name and publish to pypi.
alternatively archive this repository and make a podsixnet2 GitHub repository.

[2020-03-22 17:52] pauliyobo commented on #26
If this version is going to be deprecated anyway, it would be pointless to implement aliases for it. It probably would be better to focus with the new convention on the version 2.0.
What do you think?

[2020-03-22 17:55] NicklasTegner commented on #26
Either way implementing the aliasing would be pointless, now that it gets moved to a new namespace. But it really depends on what @chr15m  want's to do.

[2020-03-22 22:11] chr15m commented on #26
Yes I think don't worry about the aliases. The point of changing the name is so we can break backwards compatability with the current API without breaking anybody's project.

I'll think about the best way to do this with regards to documentation etc. today.

[2020-04-02 09:13] NicklasTegner commented on #26
@chr15m  did you come up with something, what's the current status?

[2020-04-02 09:15] nonoesimposible commented on #26
If I understand correctly, a merge request is ready but it breaks backwards compatibility, so now we have to go through the trouble of making a new major release before the changes are marked as stable.

[2020-04-02 09:18] NicklasTegner commented on #26
Either that, or @chr15m  would change the name, and make a new repository and then mark this one as deprecated

[2020-04-14 08:28] chr15m commented on #26
@pauliyobo @NicklasTegner @nonoesimposible there is now a `podsixnet2` branch and a release up on pypi: https://pypi.org/project/podsixnet2/

Please issue pull requests against the `podsixnet2` branch. Once you guys let me know I'll merge it into `master`.

[2020-04-16 03:13] Ambro86 opened #36 "Posdixnet with Asyncio."
Hi. First of all thank you for this excellent project. Wanting to implement a chat following the example provided here, I would like not to use threads, as it is also recommended, but to use asyncio, which as I understand it, is the best method to manage coroutines. I modified the chatclient.py file and it does not give an error, however the chat messages are not sent between the various clients.

[2020-04-16 15:34] nonoesimposible commented on #36
FYI, it looks like some of the formatting got messed up, so the comments are now interpreted as giant headlines. :wink:

[2020-04-16 15:54] Ambro86 commented on #36
Thanks nonoesimposible, I've corrected. Can you help me about the code?

[2020-06-01 17:36] ianbbqzy opened #38 "Deployment recommendations?"
Does anybody have any recommendations for deployment? I have a simple game coded up and I want to be able to play test with another friend living in another state. I don't need to be able to scale the game for multiple sessions or more than 10 connections. Are there any simple and cheap ways to host a game server? AWS, Heroku, or configuring my router? Thanks!

[2020-06-02 01:25] chr15m commented on #38
@ianbbqzy I would recommend a cheap VPS + [Piku](https://piku.github.io/) for this. Here's what I would do in your position:

 * Rent a $5/month Ubuntu VPS (I use Digital Ocean but any provider is fine).
 * Run `piku-bootstrap root@YOUR-NEW-IP` to set up Piku on the remote.
 * Add the git remote to your repo: `git remote add piku piku@YOUR-NEW-IP:GAMENAME`
 * Add an [ENV](https://github.com/piku/p

[2020-06-08 14:32] zywek123 opened #39 "Some questions"
I know, that i can send the commands to the server and receive it in client without direct access to the network class via queue, but it causes some problems, e.g. when the queue is empty, the program will give an error, when i'm trying to read an informations from the queue, and in my opinion it's not enough elegant to do this using queue. Is any way to send and receive the messages from and to s

[2020-06-09 09:09] chr15m commented on #39
@zywek123 I'm afraid I don't understand the question.

[2020-06-09 09:14] zywek123 commented on #39
@chr15m I think that I don't know how to solve the problems. I don't know is it possible to send any data to the server without direct access to the client class, or maybe I have to define any classes with special events which are required to send from players, but I don't know, is it required to instantiate a new channel at all time, when i'm creating a new class to communicate client with server

[2020-06-09 09:15] zywek123 commented on #39
@chr15m maybe because i converted my request via json and maybe the server cannot deconvert it.

[2020-06-23 01:12] chr15m commented on #39
@zywek123 that sounds likely.

[2020-07-04 03:27] Genesis123456 opened #40 "Manual"
No offense but how come there's no manual or comprehensive tutorial on how to use this software/facility

Julian meyer and the rest have proven unfruitful to me..... Idk wah to do again

[2020-11-20 14:51] mrsmond opened #41 "Typo in podsixnet2 package on PyPi"
Hi Chris,

When installing podsixnet2 as follows, I get an error about not being in a git repo:

[code]

Which happens because in the setup.py file it incorrectly has the directory as podsixnet rather than podsixnet2

[code]

After changing `versionfile` I am able to install it.

I think it would be useful to update the 'Project description' [page](https://pypi.org/project/podsixnet2/) to explain

[2022-03-05 04:47] ltspicer opened #42 "Multiplayer server with free choice of opponent"
Do you have any tips for me on how best to set up a server that shows all online clients to a client and each client can choose an opponent?
Maybe you even have a developer version?

[2022-03-08 04:49] chr15m commented on #42
I am not able to provide an example. What you should do is keep an array of all clients and then show the client unconnected clients the can connect to.

[2022-03-08 04:49] #42 closed

[2022-03-13 03:26] ltspicer opened #43 "How to query a broken client?"
How can I get the server to detect a suspended client?

[2022-03-23 00:29] #43 closed

[2022-03-25 23:56] ltspicer opened #44 "Network interruption tolerance"
How can I ensure that the server does not immediately disconnect a player at the first short network interruption?
I would like that an interruption up to 5 seconds not to be viewed as a logoff.

[2022-03-28 20:01] #44 closed

[2022-06-01 05:30] ltspicer opened #45 "Can't find your email"
See what I make with your library.
Very goot thing.
https://github.com/ltspicer/GALAXIS.electronic

[2022-07-12 17:43] ElHacker1000 opened #46 "asyncchat will be removed in Python 3.12"
Hello! First of all, I apologize if this section is not the right one for this, as this is more of a request than a problem.

I wanted to use this library to create my own client-server. However, I have noticed that internally they use a module that will be removed in Python 3.12: asyncchat. If I knew about servers, I would, but since I don't know anything... Could you rewrite the module using som

[2022-09-25 02:23] astridbunny opened #47 "Dead project?"
Was interested in using this for a game, but saw that this repo, let alone the podsixnet2 branch, haven't been active in quite some time. Is this still viable for such use?

[2022-09-25 02:45] b-sharman commented on #47
This project uses deprecated libraries (#46) and isn't really actively maintained any more. I would recommend using another library. Last time I checked, [pygase](https://github.com/sbischoff-ai/pygase) sounded like an interesting alternative, but it looks like that hasn't been touched since 2019. It seems that [trio](https://github.com/python-trio/trio) is an actively developed async Python libra

[2022-09-25 03:22] astridbunny commented on #47
Thank you, I'll check those out.

[2022-09-25 03:22] #47 closed

[2022-10-01 09:44] ltspicer commented on #45
Now a robot is online.
Thx for your super Lib!
Can you make a better wiki?
Some functions are not described.

[2022-10-01 09:52] ltspicer commented on #45
otherwise the server dont forget this connection....